
trigger: none
pr: none

schedules:
- cron: '0 6 * * 1-5'
  displayName: ScheduledRun
  branches:
    include:
      - master
  always: true

variables:
  - name: BuildConfiguration
    value: release
  - name: BuildPlatform
    value: any cpu
  - group: "Release Automation Suite Variables"
  - group: "Provider Release Automation Suite Variables"
  - name: ProjectName
    value: ""
  - name: Deploy
    value: $[or(eq(variables['Build.SourceBranch'], 'refs/heads/master'),
               eq(variables['Build.Reason'], 'Manual'),
               eq(variables['Build.Reason'], 'PullRequest'))]

resources:
  repositories:
    - repository: self
    - repository: das-platform-building-blocks
      type: github
      name: SkillsFundingAgency/das-platform-building-blocks
      ref: refs/tags/3.0.23
      endpoint: SkillsFundingAgency
    - repository: das-platform-automation
      type: github
      name: SkillsFundingAgency/das-platform-automation
      ref: refs/tags/5.1.21
      endpoint: SkillsFundingAgency

pool:
  vmImage: 'windows-latest'

stages:

- stage: Validate
  displayName: Validate Variables
  jobs:
    - job: ValidateParams
      pool:
        vmImage: 'ubuntu-latest'
      steps:
        - script: |
            if [ -z "$(ProjectName)" ]; then
              echo "ERROR: ProjectName cannot be empty."
              exit 1
            fi
          displayName: Validate ProjectName

- stage: Build
  dependsOn: Validate
  displayName: Build Stage
  jobs:
    - template: pipeline-templates/job/code-build.yml
      parameters:
        BuildConfiguration: $(BuildConfiguration)
        projectName: $(ProjectName)

- stage: Deploy_TEST
  dependsOn: Build
  condition: and(succeeded(), ne(variables['Build.Reason'], 'Schedule'))
  displayName: Deploy to TEST
  variables:
    - group: "TEST DevTest Shared Resources"
    - group: "TEST Automation Suite Variables"
    - group: "TEST Automation Suite Variables (Db)"
  jobs:
    - template: pipeline-templates/job/deploy.yml
      parameters:
        Environment: TEST
        ServiceConnection: das-automation-test-suite-db-sc

- stage: Deploy_TEST2
  dependsOn: Build
  condition: and(succeeded(), ne(variables['Build.Reason'], 'Schedule'))
  displayName: Deploy to TEST2
  variables:
    - group: "TEST2 DevTest Shared Resources"
    - group: "TEST2 Automation Suite Variables"
  jobs:
    - template: pipeline-templates/job/deploy.yml
      parameters:
        Environment: TEST2
        ServiceConnection: SFA-DAS-DevTest-ARM

- stage: Deploy_DEMO
  dependsOn: Build
  condition: and(succeeded(), ne(variables['Build.Reason'], 'Schedule'))
  displayName: Deploy to DEMO
  variables:
    - group: "DEMO DevTest Shared Resources"
    - group: "DEMO Automation Suite Variables"
  jobs:
    - template: pipeline-templates/job/deploy.yml
      parameters:
        Environment: DEMO
        ServiceConnection: SFA-DAS-DevTest-ARM

- stage: Deploy_PP
  dependsOn: Build
  displayName: Deploy to PP
  variables:
    - group: "PreProd Management Resources"
    - group: "PreProd Shared Resources"
    - group: "PreProd Automation Suite Variables"
    - group: "PREPROD Automation Suite Variables (Db)"
    - ${{ if ne(variables.PreProdSpecificVariableGroup, '') }}:
        - group: ${{ variables.PreProdSpecificVariableGroup }}
  jobs:
    - ${{ if eq(variables['Build.Reason'], 'Schedule') }}:
      - template: pipeline-templates/job/deploy.yml
        parameters:
          Environment: PP_AUTOMATION
          ServiceConnection: SFA-DIG-PreProd-ARM

    - ${{ else }}:
      - template: pipeline-templates/job/deploy.yml
        parameters:
          Environment: PP
          ServiceConnection: SFA-DIG-PreProd-ARM
