trigger: none
pr: none
schedules:
- cron: '0 3 * * 1-5'
  displayName: ScheduledRun
  branches:
    include:
    - master
  always: true

variables:
  - template: ../pipeline-templates/vars.yml
  - name: projectName
    value: "SFA.DAS.Campaigns.UITests"

resources:
  repositories:
    - repository: self
    - repository: das-platform-building-blocks
      type: github
      name: SkillsFundingAgency/das-platform-building-blocks
      ref: refs/tags/3.0.17
      endpoint: SkillsFundingAgency
    - repository: das-platform-automation
      type: github
      name: SkillsFundingAgency/das-platform-automation
      ref: refs/tags/5.1.17
      endpoint: SkillsFundingAgency

pool:
  vmImage: 'windows-latest'

stages:
  - template: ../pipeline-templates/stage/enviroment-stage.yml
    parameters:
      projectName: $(projectName)
      BuildConfiguration: $(BuildConfiguration)
      deploy: $(Deploy)
